# API URL
VITE_API_URL=https://api.findmess.me

# Google Auth (Get these from Google Cloud Console)
VITE_GOOGLE_CLIENT_ID=1017590323676-artqj2bl30l27u14g01peahdkdtiuuci.apps.googleusercontent.com

# reCAPTCHA v3 (Get these from Google reCAPTCHA Admin Console)
VITE_RECAPTCHA_SITE_KEY=6Ld48lssAAAAACSSpuDv2_NC8bNqQBol2lpFpsM7
RECAPTCHA_SECRET=6Ld48lssAAAAAOnCD53SywwcHEZ8KdgxBXupV46l
